
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.VC.db
*.VC.VC.opendb

*.log
*.tmp

.DS_Store

.vscode/
.idea/

# Visual Studio cache
.vs/
*.ipch

# 예외적으로 .vcxproj.filters 파일은 추적
!Intermediate/**/*.vcxproj.filters
